cardputer-remote/target/
cardputer-remote/config.toml
/_bin_release
/_build_check
/_build_release
NUL.d
/_build_check2
/_build_check3
/_build_check4
/_build_fast_disabled/core
/_build_fast_disabled
/_build_fast_opi/libraries
/_build_fast_opi/libraries/Adafruit_NeoPixel
/_build_fast_opi/libraries
/_build_fast_opi/libraries
/_build_fast_opi/core
/_build_fast_opi
/_build_fast_opi/libraries
/_build_fast_opi/core
*.o
*.o
*.d
*.a
/_build_shared_spi_verified
/bin/Evil-Cardputer-scale-wheel
/_build_memory_fixes/sketch/gui/core
/_build_memory_fixes/sketch/gui
/_build_memory_fixes/sketch
/_build_mail_web/sketch
/_build_flash_pager_clean/sketch
/bin/Evil-Cardputer-atomic-tilediff-configurable-40mhz
/_build_memory_fixes
/_build_mail_web
/_build_flash_pager/sketch
/_build_flash_pager_clean
/_bin_flash_pager
